@use "./variables" as *;

.progress-bar {
  display: grid;
  place-items: center left;
  isolation: isolate;
  border-radius: 48px;
  box-shadow: var(--shadow);
  margin-block: 1.5rem;
  margin-inline: 3rem;
  padding: 2px;

  &__progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0.5rem;
    border-radius: inherit;
    color: $dark-text;
    font-weight: 900;
  }
}
