@use "./variables" as *;

.top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;

  &__btns {
    flex: 0 1 auto;
    display: flex;
    gap: 1rem;

    button {
      width: 2rem;
      height: 2rem;
      padding: 0.5rem;
      border-radius: 50%;
      box-shadow: var(--shadow);
    }
  }
}
